<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Spring WebSocket Chat</title>

    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/vendor/bootstrap.min.css" th:href="@{/lib/flat-ui/dist/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/flat-ui.css" th:href="@{/lib/flat-ui/dist/css/flat-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body style="background-color: #16A085">
<div class="container">
        <div class="login-link">
            <div class="login-form">
                <form action="#" th:action="@{/group}"
                       th:object="${group}" method="POST">
                    <h6>Register Group</h6>
                    <div class="form-group">
                        <input type="text" th:field="*{name}" class="form-control login-field" placeholder="Name" />
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               style="color:#C0392B"></label>
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{password}" class="form-control login-field" placeholder="Password"/>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               style="color:#C0392B"></label>
                        <label class="login-field-icon fui-lock-16"></label>
                    </div>
                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20px; color: #FF1C19;">Group name or Password invalid, please verify</p>
                    </div>
                    <input class="btn btn-primary btn-lg btn-block"  type="submit" value="Register"/>
                    <h6 th:utext="${successMessage}" style="color: #16A085"></h6>
                    <a class="login-link" href="/room" th:action="@{/room}">Back to chat page</a>
                </form>
            </div>
        </div>
</div>
<script src="../static/lib/flat-ui/dist/css/flat-ui.css"></script>
<script src="../static/lib/flat-ui/dist/js/vendor/jquery.min.js"></script>
<script src="../static/lib/flat-ui/dist/js/vendor/video.js"></script>
<script src="../static/lib/flat-ui/dist/js/flat-ui.min.js"></script>
<script src="../static/lib/flat-ui/docs/assets/js/application.js"></script>
</body>
</html>