<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb" lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>Spring WebSocket Chat</title>
    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/vendor/bootstrap.min.css" th:href="@{/lib/flat-ui/dist/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/flat-ui.css" th:href="@{/lib/flat-ui/dist/css/flat-ui.css}"/>
        <link rel="stylesheet" th:href="@{/css/chat.css}"/>
</head>
<body>
<div class="container">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
                <h4>Welcome to <small>WebSocket Chat</small></h4>
            </div>

            <div class="login-form">
                <form th:action="@{login}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" placeholder="Username" name="email"/>
                        <span class="login-field-icon fui-user"></span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" placeholder="Password" name="password"/>
                        <label class="login-field-icon fui-lock"></label>
                    </div>
                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
                    </div>
                    <input class="btn btn-primary btn-lg btn-block"  type="submit" value="Log In"/>
                    <a class="login-link" href="/registration" th:action="@{/registration}">Register new account</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>