<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb" ng-app="springChat">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/vendor/bootstrap.min.css" th:href="@{/lib/flat-ui/dist/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/flat-ui.css" th:href="@{/lib/flat-ui/dist/css/flat-ui.css}"/>
    <link rel="stylesheet" href="../static/lib/flat-ui/dist/css/flat-ui.css"
          th:href="@{/lib/flat-ui/dist/css/flat-ui.css}"/>

</head>
<body>
<header>
    <div class="row" style="padding-bottom: 10px">
        <div class="col-xs-12">
            <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" style="padding-right: 10px"
                 role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="">WebChat</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/group-registration">Register To Group</a></li>
                        <li><a href="/group">Group Register</a></li>
                        <li><a href="/logout" th:text="'Logout (' + ${userName} + ')'"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="container" ng-controller="ChatController">
    <div class="row">
        <div class="col-xs-3">
            <h4 id="participants-number">Online [0]</h4>
            <div class="share pre-scrollable" style="max-height: 105px">
                <ul id="participants">
                </ul>
            </div>
            <h4>Participants</h4>
            <div class="share pre-scrollable" style="max-height: 105px">
                <ul>
                    <div th:each="user : ${users}">
                        <li th:id="'user-' + ${user.id}">
                            <span class="input-icon fui-user"></span>
                            <a href="" th:text="${user.name} + ' ' + ${user.lastName}"
                               th:attr="ng-click='conversationWithUser(\''+ ${user.email} +'\', \''+ ${user.id} +'\');'"/>
                            <span class="navbar-unread" th:id="'unread-' + ${user.id}" style="display: none">1</span>
                        </li>
                    </div>
                </ul>
            </div>
            <h4>Groups</h4>
            <div class="share pre-scrollable" style="max-height: 105px">
                <ul>
                    <li th:each="group : ${groups}">
                        <span class="input-icon fui-mail"></span>
                        <a href="" th:text="${group.name}"
                           th:attr="ng-click='conversationWithGroup(\''+ ${group.name} +'\', \''+ ${group.id} +'\');'"/>
                        <span class="navbar-unread" th:id="'group-unread-' + ${group.id}" style="display: none">1</span>
                    </li>
                </ul>
            </div>
        </div>
        <h4>Messages</h4>

        <div class="col-xs-9" id="chat" style="display: none">
            <ul id="messages"></ul>
            <form ng-submit="sendMessage()">
                <div class="chat-message clearfix">
                    <input name="message-to-send" autocomplete="off" id="messageInput"
                               placeholder="Type your message"/>
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="webjars/jquery/3.2.0/jquery.js"></script>
<script src="webjars/sockjs-client/1.1.2/sockjs.js"></script>
<script src="webjars/stomp-websocket/2.3.1/stomp.js"></script>
<script src="webjars/angular/1.6.2/angular.min.js"></script>
<script src="webjars/angularjs-toaster/0.4.8/toaster.js"></script>
<script src="webjars/angular-animate/1.4.5/angular-animate.min.js"></script>
<script src="webjars/angularjs-scroll-glue/2.0.2/scrollglue.js"></script>
<script th:src="@{/lib/flat-ui/dist/js/vendor/jquery.min.js}"></script>
<script th:src="@{/lib/flat-ui/dist/js/vendor/video.js}"></script>
<script th:src="@{/lib/flat-ui/dist/js/flat-ui.min.js}"></script>
<script th:src="@{/lib/flat-ui/docs/assets/js/application.js}"></script>
<script src="../static/js/app.js" th:src="@{/js/app.js/}"></script>
<script src="../static/js/toaster.js" th:src="@{/js/toaster.js/}"></script>
</body>
</html>